{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["react-app", "prettier", "plugin:cypress/recommended"],
  "plugins": ["prettier", "cypress"],
  "rules": {
    "prettier/prettier": ["error"],
    "linebreak-style": 0
  }
}
