---
api:
  container: registry.gitlab.com/ska-telescope/ska-dataproduct-api/ska-dataproduct-api
  version: 0.14.0-dev.c0de3c525
  imagePullPolicy: Always
  sdpConfigdbHost: "ska-sdp-etcd.dp-shared"
  vault:
    useExistingSecret: true
  postgresql:
    host: "pgdev-lb.cnpgdev.svc.cluster.local"
    user: "sdp_sdp_dataproduct_dashboard_integration"
    dbname: "integration"
    schema: "sdp_sdp_dataproduct_dashboard_integration"
    dlmInterfaceEnabled: true

dashboard:
  container: registry.gitlab.com/ska-telescope/ska-dataproduct-dashboard/ska-dataproduct-dashboard
  version: 0.14.0-dev.cee6d2a4f
  imagePullPolicy: Always
  vault:
    useExistingSecret: true

vault-secret-sync:
  enabled: true
  vault:
    engine: "dev"
    refreshAfter: 360s
  secrets:
    dashboard:
      enabled: true
      vaultPath: "phoenix/sdhp-stfc/integration/ska-dataproduct-dashboard"
      secretName: "ska-dataproduct-dashboard-dashboard-secret"
      keys:
        - REACT_APP_MSENTRA_CLIENT_ID
        - REACT_APP_MSENTRA_TENANT_ID
    api:
      enabled: true
      vaultPath: "phoenix/sdhp-stfc/integration/ska-sdp-dataproduct-api"
      secretName: "ska-dataproduct-dashboard-api-secret"
      keys:
        - SKA_DATAPRODUCT_API_POSTGRESQL_PASSWORD

