---
api:
  container: registry.gitlab.com/ska-telescope/ska-dataproduct-api/ska-dataproduct-api
  version: 0.14.0-dev.c0de3c525
  imagePullPolicy: Always
  sdpConfigdbHost: "ska-sdp-etcd.dp-shared"
  vault:
    useVault: true
  postgresql:
    host: "pgdev-lb.cnpgdev.svc.cluster.local"
    user: "sdp_sdp_dataproduct_dashboard_integration"
    dbname: "integration"
    schema: "sdp_sdp_dataproduct_dashboard_integration"
    dlmInterfaceEnabled: true

dashboard:
  container: registry.gitlab.com/ska-telescope/ska-dataproduct-dashboard/ska-dataproduct-dashboard
  version: 0.14.0-dev.cee6d2a4f
  imagePullPolicy: Always
  vault:
    useVault: true
    pathToSecretVault: phoenix/sdhp-stfc/integration/ska-dataproduct-dashboard

