---
api:
  sdpConfigdbHost: "ska-sdp-etcd.dp-shared"
  vault:
    useVault: true
  postgresql:
    host: "pgdev-lb.cnpgdev.svc.cluster.local"
    user: "sdp_sdp_dataproduct_dashboard_integration"
    dbname: "integration"
    schema: "sdp_sdp_dataproduct_dashboard_integration"

dashboard:
  vault:
    useVault: true

