{{- if .Values.enabled }}
{{- range $name, $config := .Values.secrets }}
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: {{ $config.secretName }}
  labels:
    app.kubernetes.io/name: vault-secret-sync
    app.kubernetes.io/component: {{ $name }}
spec:
  type: kv-v2
  mount: "{{ $.Values.vault.engine }}"
  path: "{{ $config.vaultPath }}"
  refreshAfter: "{{ $.Values.vault.refreshAfter }}"
  destination:
    name: {{ $config.secretName }}
    create: true
    overwrite: true
    transformation:
      templates:
{{- range $config.keys }}
        "{{ . }}":
          text: "{{ "{{" }} .Secrets.{{ . }} {{ "}}" }}"
{{- end }}
{{- end }}
{{- end }}
